body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  
  border-radius: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  
  border-radius: 5px;
  background: transparent;
  background-color:#2f374b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}